<!-- views/partials/header.ejs -->
    <div class="container">
        <img src="https://unsplash.it/1650/200/?random" alt="">
    </div>
    <div class="container">
        <div class="ui centered grid">
            <div class="center aligned column">
                <div class="ui compact menu">
                    <a class="active item">
                        <i class="music icon"></i> Musics
                    </a>
                    <a class="item">
                        <i class="tags icon"></i> Tags
                    </a>
                    <a class="item">
                        <i class="paint brush icon"></i> Colors 
                    </a>
                </div>        
            </div>
        </div>
    </div>