<!DOCTYPE html>
<html>
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <header>
        <% include ../../partials/header %>
    </header>
    <main>
      <div class="container">
        <div>
          <table class="ui inverted blue table">
            <thead>
              <tr><th>Tag Name</th>
            </tr>
            </thead>
            <tbody>
            <% for(var i = 0;i<musics.length;i++) { %>
              <tr>
                <td><%= musics[i].Tags.tag_name %></td>
              </tr>
            <% } %>
            </tbody>
          </table> 
        </div>
      </div>
    </main>
    <footer>
        <% include ../../partials/footer %>
    </footer>
  </body>
</html>