<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
    <div style="margin:50px 0px 50px 0px" class="ui centered grid">
        <div class="ui items" style="height: 400px;overflow-y:scroll;white-space:nowrap;">
            <% for(var i=0;i<10;i++) { %>
            <div class="item">
                <div class="image">
                <img src="https://unsplash.it/300/150/?random">
                </div>
                <div class="content">
                <a class="header">12 Years a Slave</a>
                <div class="meta">
                    <span class="cinema">Union Square 14</span>
                </div>
                <div class="description">
                    <p></p>
                </div>
                <div class="extra">
                    <div class="ui label">IMAX</div>
                    <div class="ui label"><i class="globe icon"></i> Additional Languages</div>
                </div>
                </div>
            </div>
            <% } %>
        </div>
        <div class="ui items">
            <div class="ui card">
                <div class="image">
                    <img src="https://unsplash.it/700/500/?random">
                </div>
                <div class="content">
                    <a class="header">Title</a>
                    <div class="meta">
                    </div>
                    <div class="description">
                        Description of music
                    </div>
                </div>
                <div class="extra content">
                    <div>
                    <% for(var i=0;i<10;i++) { %>
                        <div class="ui label"><a href=""><i class="tags icon"></i> Tag</a></div>
                    <% } %>
                    </div>

                    <a>
                    <i class="user icon"></i>
                        22 listened
                    </a>
                </div>
            </div>
          </div>
        </div>
        <div class="ui items">

        </div>
    </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>